*{
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
list-style: none;
box-sizing: border-box;
}

body {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
    margin: auto;
    max-width: 1170px;
    padding: 10px;
}

.head{
    background-color: #fff;
    margin-bottom: 20px;
}

.head img{
    width: 250px;
    position: absolute;
}

.links{
    flex: 1;
    text-align: right;
    color: #012345;
  }

  .links ul li {
    display: inline-block;
    margin: 5px 20px;
    color: #012345;
  }

  .links ul li a{
    font-size: 14px;
    text-decoration: none;
    color: #012345;
  }

.sec1{
    background-color: #fff;
    overflow: hidden;
}

.heading{
    color: #012345;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
}

.h2{
    color: #012345;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}

.container1{
    flex: 1;
    width: 600px;
    margin: 0px 25px; 
}

.abt-img{
    flex: 1;
    width: 600px;
    margin: auto;    
}

.jamal{
    flex: 1;
    width: 600px;
    margin: auto;
}

img{
    width: 100%;
    height: auto;
    border-radius: 0px;
}

.container1 h2{
     font-size: 38px;
     margin-bottom: 20px;  
}

.container1{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.faculty{
    background: #BD9C6C;
    border: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 42px;
}




form .user-details .input-box{
    margin-bottom: 15px;
    
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 30%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}

@media (max-width: 660px){}